* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.signup-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #30006d, #000000);
  padding: 40px;
}

.left-side {
  width: 50%;
  height: 80%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
}

.left-side h1 {
  font-size: 80px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.Logo p {
  display: flex;
  /* padding-bottom:10px;  */
}

.left-side p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 254, 254);
}

.right-side {
  width: 50%;
  height: 100%;
  /* background:#051021; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.signup-form h1 {
  color: rgb(255, 251, 251);
  text-align: center;
  margin-bottom: 40px;
  font-size: xx-large;
  font-weight: 800;
}

.signup-form h4 {
  color: white;
}

.signup-form input {
  background: transparent;
  border-width: 1px;
  border-radius: 20px;
  /* border-bottom: white  black; */
  outline: none;
  color: rgb(255, 249, 249);
  font-size: 16px;
  padding: 10px 5px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.signup-form input::placeholder {
  color: #d6d6d6;
  font-size: smaller;
}

.signup-form button {
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #7105ff;
  color: white;
  font-size: 18px;
  font-weight: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background: #854ccc;
  transform: scale(1.03);
}

.login-link {
  margin-top: 25px;
  color: white;
  text-align: center;
}

.login-link span {
  color: rgb(248, 248, 248);
  cursor: pointer;
  font-weight: bold;
}

.login-link span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .signup-page {
    flex-direction: column;
    padding: 20px;
  }

  .left-side {
    width: 100%;
    height: 250px;
    border-radius: 25px;
  }

  .left-side h1 {
    font-size: 40px;
  }

  .right-side {
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-radius: 25px;
  }

  .signup-form {
    width: 90%;
  }


  .signup-form h1 {
  color: rgb(255, 251, 251);
  text-align: center;
  margin-bottom: 40px;
  font-size: large;
  font-weight: 800;
}

}
